@import '../../Styles/style.sass'

.works-title
  color: $white-5
  font-weight: 200
  text-align: center 
  font-family: Georgia, 'Times New Roman', Times, serif
  margin-top: 3rem
  font-size: 4rem

.work-container__work
  justify-content: space-around
  border-bottom: 1px solid $border-dark
  width: 50%
  height: auto
  margin: min(8%, 7em) auto
  padding-bottom: 4em

  .blur-container
    display: flex
    padding: -5px

  &-info
    color: $white-0
    margin: 0 0.8em
    position: relative
    width: 50%

    h2
      font-size: 1.7em
      margin: 0
      margin-top: 0.8em

    &__buttons
      display: block
      margin-top: 20%
      // position: absolute
      // top: max(88%, 15em)

  a
    margin-right: 1em
    border: none
    padding: 0.7rem 1rem
    background: none
    text-decoration: none
    color: $white-4
    border: 1px solid $white-4  
    transition: 0.3s
    font-weight: 400
    border-radius: 4px

    &:hover
      border: 1px solid $orange-2
      background: $orange-2
      color: $black-150
    
  ul
    display: flex
  
  li
    list-style: none
    margin-top: 0.5em
    margin-right: 1em
    color: $orange-3

  &--image
    margin-left: 2em

    img
      width: min(35em, 30vw)
      height: auto
      max-height: 22em
      filter: drop-shadow(0px 0px 10px $black-050)


@keyframes unblur
  from
    filter: blur(7px)
  to
    filter: blur(0px)

.work-container__work:hover .work-about
  bottom: 25%

.work-container__work:hover .work-darkBackground
  bottom: 100%

@media only screen and (max-width: 1210px)
  .work-container
    &__work
      background-position: center

@media only screen and (max-width: 1000px)
  .work-container
    margin: 2rem 2%
    width: 95%

  .work-about
    height: 27%

  .work-container__work:hover .work-about
    bottom: 25%

@media only screen and (max-width: 1000px)
  .work-container
    grid-template-columns: repeat(1, 1fr)
    margin: 0 auto

    &__work
      width: 90%
